
@{
    ViewData["Title"] = "Error";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-not-found">
    <h1>خطا</h1>
    <h3 style="margin: auto;">صفحه مورد نظر یافت نشد یا اجازه دسترسی به صفحه ی مورد نظر را ندارید</h3>
    <p style="margin-top: 30px;">برای رزرو اتاق باید وارد شده یا ثبت نام کنید</p>
</div>

